<ion-content [fullscreen]="true" class="content">
  <div id="container">
    <p class="cursive"><strong>{{countDownType}} Count Down</strong></p>
    <strong>{{currentCountVal}}</strong>
    <table class="no-border">
      <tr class="text-bigger">
        <td>{{countDown.days}}</td>
        <td>{{countDown.hours}}</td>
        <td>{{countDown.minutes}}</td>
        <td>{{countDown.seconds}}</td>
      </tr>
      <tr class="tr-labels">
        <td>Days</td>
        <td>Hours</td>
        <td>Minutes</td>
        <td>Seconds</td>
      </tr>
    </table>
  </div>
</ion-content>
